@font-face {
	font-family: 'Karmatic';
	src: url("./dec/karmatic_arcade/ka1.ttf") format('truetype');
}
@font-face {
	font-family: 'Biko';
	src: url("./dec/biko/Biko_Regular.otf") format('opentype');
}
body{
	background-color: #cfcfcf;
	z-index: -1;
}
h1 {
	text-align:center;
	font-family: 'Karmatic';
	font-weight: normal;
	font-size:48px;
}
.container {
	width: 800px;
	height: 800px;
	float: none;
	margin-right: auto;
	margin-left:auto;
}
.canvas {
	width: 16px;
	height: 16px;
	display: block;
	background-color: white;
	float: left;
	outline:1px solid;
}
.canvas:hover {
	background-color: #eeeeee;
}
p {
	font-family: 'Biko';
	text-align: center;
}
#clearAll {
	display: block;
	width: 80px;
	padding: 2px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Biko';
	text-align: center;
	color: white;
	background-color: black;
}
#clearAll:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}
input {
	left: 25%;
	float: none;
}